// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
//   }
body {
  
  font-family: var(--type-serif);
  font-size: var(--type-size);
  font-weight: var(--type-weight);
  line-height: var(--type-height);
  font-variant-numeric: var(--type-numeric);
  background-color: var(--color-background);
  color: var(--color-text);
}

nav.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
    padding-right:20px;
    font-size: 1.2em;
}

nav.main-nav li,
nav.main-nav a {
	display: inline-block;
}

nav.main-nav li a {
	padding: 10px;
}

svg circle,
svg path {
  stroke: var(--color-text);
  stroke-width: 0.075em;
}

a {
  text-decoration: none;
  color: var(--color-link);

  &:focus,
  &:hover {
    border-bottom: calc(var(--type-size) / 10) dotted var(--color-link);
    color: var(--color-link);
  }
}

a.active {
    border-bottom: calc(var(--type-size) / 10) dotted var(--color-link);
    color: var(--color-link);
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5em;
  margin-bottom: 2em;
}

footer {
  margin: 2em 0;
}

small {
  font-weight: 300;
}

abbr {
  text-transform: lowercase;
  font-family: var(--type-caps);
}

blockquote {
  padding-left: 1em;
  border-left: 0.1em solid var(--color-border);
  font-weight: 300;
}

mark {
  padding: 0.1em;
  border-radius: 0.25em;
  background-color: var(--color-mark);
  color: var(--color-text);
}

hr {
  border-top: 0.1em solid var(--color-text);
}

img {
  display: block;
  max-width: 100%;
  margin: 1em 0;
  border-radius: 0.25em;
}

table.table {
  color: var(--color-text);
}

.timeline {
    position: relative;
  }
  
  .timeline-event {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-right: 20px;
    margin-top: 55px;
  }
  
  .content {
    flex: 1;
  }
  
  .timeline-event:last-child {
    margin-bottom: 0;
  }
  
  /* Connecting lines */
  .timeline-event:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 55px; /* Adjust this value to align with the dot */
    left: 10px; /* Adjust this value to align with the dot */
    width: 2px;
    height: calc(100% - 20px); /* Adjust this value to cover the entire height */
    background-color: var(--color-text);
  }
  